header {
  .MuiOutlinedInput-root,
  .MuiOutlinedInput-root.Mui-focused {
    border-radius: 5px;
    & .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
    &:focus .MuiOutlinedInput-notchedOutline {
      border-color: #fff;
    }
  }
  .MuiSelect-select {
    line-height: 1.2;
    font-size: 0.875rem;
    &:focus {
      background-color: inherit;
    }
  }
  .MuiLink-button {
    color: inherit;
    font-family: inherit;
    margin-left: 20px;
    margin-right: 8px;
    &:hover {
      text-decoration: none;
    }
  }
  .MuiIconButton-root:hover {
    background-color: transparent;
  }
}

.MuiListItem-button:hover {
  background-color: rgba(145, 179, 250, 0.1) !important;
}

.MuiPaper-root .MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
  background-color: rgba(145, 179, 250, 0.3) !important;
}
.MuiMenuItem-root {
  color: #100774 !important;
  font-family: inherit !important;
}
.lang-select .MuiInputBase-root {
  width: 60px;
}
.page .MuiTypography-h6 {
  font-family: 'Montserrat, sans-serif';
}
