@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

.page {

  .MuiInputBase-root, .MuiInputBase-input,.MuiInputBase-root input {

       font-family: 'Montserrat, sans-serif';

    }

}

header .MuiLink-button {
  color: inherit;
  font-family: inherit;
  margin-left: 20px;
  margin-right: 20px;
  &:hover {
      text-decoration: none;
  }
}


